{{ 'toro-index.css' | asset_url | stylesheet_tag }}
{{ 'toro--image_banner.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
  <div class="liquid-section toro_single_banner animated animatedFadeInUp fadeInUp">
    <div class="toro_only_banner">
      <div class="container">
        <div
          class="toro_banner single_banner_background"
          {% if block.settings.image != blank %}
            style="
              display: block;background-size: cover;
              background-position: {{block.settings.image_background_position}};
              background-image: url('{{ block.settings.image | img_url: "1800x", crop: "center" }}');
            "
          {% endif %}
        >
          <div class="container text-center">
            <h2 style="color: {{block.settings.heading_color}};" class="text-center font-extrabold text-center ">
              {{ block.settings.hero_heading }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% schema %}
{
   "name": "Image Banner Toro",
   "tag": "section",
   "class": "home-hero-image",
   "max_blocks": 1,
   "blocks": [{
      "type": "image",
      "name": "Image",
      "settings": [{
            "type": "header",
            "content": "Image Banner Toro"
         },
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
         },

         {
            "type": "select",
            "id": "image_background_position",
            "label": "Image Background Position",
            "options": [{
                  "value": "top",
                  "label": "Top"
               },
               {
                  "value": "center",
                  "label": "Center"
               },
               {
                  "value": "bottom",
                  "label": "Bottom"
               }
            ],
            "default": "center"
         },

         {
            "type": "header",
            "content": "Header Text Settings"
         },
         {
            "type": "text",
            "id": "hero_heading",
            "label": "Heading Text"
         },
         {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Text Color",
            "default": "#ffffff"
         }
      ]
   }],
   "presets": [{
      "name": "Image Banner Toro",
      "category": "Image",
      "blocks": [{
         "type": "image",
         "settings": {
            "hero_heading": "REPLACE THIS TEXT"
         }
      }]
   }]
}
{% endschema %}
