<h1>{{ section.settings.liquid-ref}}</h1>

{% if section.settings.liquid-checkbox == true %}
    <h2> Checkbox is Checked</h2>
{% else %}
    <h2>Checkbox not Checked</h2> 
{% endif %}

{% if section.settings.liquid-number > 0 %}
    <h2> {{ section.settings.liquid-number }}</h2>
{% endif %}


<h1>Radio</h1>

 {% if section.settings.liquid-radio == "Man" %}
    <p>Man</p>
{%- else -%}
    <p>Woman</p>
{% endif %} 
    

<h1>Range : {{ section.settings.liquid-range }}</h1>


<h1>Select {{section.settings.liquid-select}}</h1>

<h1>Content in Text Area : {{section.settings.liquid-textarea}}</h1> 


{% schema %}
    {
        "name": "Liquid Reference",
        "settings": [
         {
            "id": "liquid-ref" ,
            "type": "text",
            "label": "A reference for Shopify Liquid"  
        },
        {
            "id": "liquid-checkbox",
            "type": "checkbox",
            "label": "A Checkbox for Shopify Liquid"
        },
        {
            "id": "liquid-number",
            "type": "number",
            "label": "Add a number"
        },
        {
            "type": "radio",
            "id": "liquid-radio",
            "label": "Choose one",
            "options": [
                {
                "value": "men",
                "label": "Men"
                },
                {
                "value": "women",
                "label": "Women"
                }
            ],
            "default": "men"
        },

       {
        "type": "range",
        "id": "liquid-range",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
        },

        {
            "type": "textarea",
            "id": "liquid-textarea",
            "label": "Welcome message",
            "default": "Welcome to my shop!"
        },
        {
            "id": "liquid-select",
            "type": "select",
            "label": "Select from List",
            "options": [
                {
                    "value": "taycan",
                    "label": "Taycan"
                },
                {
                    "value": "carrera",
                    "label": "Carrera"
                },
                {
                    "value": "boxster",
                    "label": "911 Boxster"
                },
                {
                    "value": "cayenn",
                    "label": "Cayenne"
                },
                {
                    "value": "macan",
                    "label": "Macan"
                }
            ],
            	"default": "carrera"
        }
    ],
        "presets": [
        {
            "name": "Liquid Reference",
            "category": "Reference"
        }
    ]


    }
{% endschema %}
