{{ 'toro-index.css' | asset_url | stylesheet_tag }}
{{ 'toro--products_slider.css' | asset_url | stylesheet_tag }}

<script>
   $(document).ready(function () {
      $(".slick_slider--products").slick({
      slidesToShow: 4,
      slidesToScroll: 4,
      infinite: true,
      autoplay: false,
      arrows: false,
      dots: true,
      draggable: true,
      responsive: [
        {
          breakpoint: 1025,
          settings: {
            dots:true,
            slidesToShow: 3,
            slidesToScroll: 3
          },
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            infinite: false,
            dots:false,
          },
        },
      ],
    });
  });
</script>

{%- if request.design_mode -%}
  <script>
    $(document).on('shopify:section:load', () => {
      $(document).ready(function () {
         $(".slick_slider--products").slick({
         slidesToShow: 4,
         slidesToScroll: 4,
         infinite: true,
         autoplay: false,
         arrows: false,
         dots: true,
         draggable: true,
         responsive: [
           {
             breakpoint: 1025,
             settings: {
               dots:true,
               slidesToShow: 3,
               slidesToScroll: 3
             },
           },
           {
             breakpoint: 480,
             settings: {
               slidesToShow: 1,
               slidesToScroll: 1,
               arrows: false,
               infinite: false,
               dots:false,
             },
           },
         ],
       });
     });
    });
  </script>
{%- endif -%}

<div class="product_slider--toro animated animatedFadeInUp fadeInUp" style="margin: 0px 0px 100px;">
  <div class="container">
    <div class="section_header--toro text-center">
      <h3 class="heading_style"><span>TOP SALE</span></h3>
    </div>
    <div class="slick_slider--products grid-items xlg-grid-4-items lg-grid-4-items md-grid-4-items sm-grid-3-items xs-grid-2-items mb-grid-1-items ">
      {% assign _collection = collections.product_slider_toro %}
      {% for product in collections[section.settings.product_slider_toro].products %}
        <div class="grid-item">
          <div class="product_item--inner">
            <div class="product_item--thumbnail">
              <div class="product_item--thumbnail-holder">
                <a href="" class="product__link" tabindex="0">
                  {{
                    product.media[1]
                    | image_url: width: 400
                    | image_tag: class: 'wp-post-image loading lazy', style: 'display:block'
                  }}
                  {{
                    product.media[2]
                    | image_url: width: 400
                    | image_tag: class: 'wp-alt-image loading lazy', style: 'display:block'
                  }}

                  <div style="{%- if section.settings.label_tags -%}display: none;{%- endif -%}">
                    {% if product.tags == 'New' %}
                      <span class="label-product new">New</span>
                    {% elsif product.tags contains 'Hot' %}
                      <span class="label-product hot">Hot</span>
                    {% else %}
                      <span style="display: none;"></span>
                    {% endif %}
                  </div>
                </a>
              </div>
              <div class="product_item_thumbnail_action product_item--action">
                <div class="wrap-addto" style="{%- if section.settings.btn_action -%}display: none;{%- endif -%}">
                  <a
                    href=""
                    class="globo-quick-view-button quickview  la-quickview-button"
                    title="Quick view"
                    tabindex="0"
                    ><span>Quick view</span></a
                  >
                  <div class="gpw-action">
                    <a class="add_wishlist  la-core-wishlist globo-add-to-wishlist" title="Add to wishtlist"
                      ><span>Add to wishtlist</span></a
                    >
                  </div>
                  <div class="gpc-action">
                    <a class="globo-add-to-compare" title="Add to compare"><span>Add to compare</span></a>
                  </div>
                  <a href="" class="globo-add-to-cart-toro" title="Add to cart">
                    <span> Add to cart </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="product_item--info">
              <div class="product_item--info-inner text-center">
                <h2 class="product_item--title">
                  <a href="" tabindex="0">{{ product.title }}</a>
                </h2>
                <span class="price" style="{%- if section.settings.original_price -%}display: none;{%- endif -%}">
                  {{- product.price | money -}}
                </span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Products Slide Toro",
   "settings": [
      {
          "type": "collection",
          "id": "product_slider_toro",
          "label": "Chose Collection to show on slideshow"
      },
       {
        "type": "header",
        "content": "Product Item Option"
      },
      {
        "type": "checkbox",
        "id": "original_price",
        "default": true,
        "label": "Hide Original Price"
      },
     {
        "type": "checkbox",
        "id": "label_tags",
        "label": "Hide Label Tag",
        "default": true
      },
     {
        "type": "checkbox",
        "id": "btn_action",
        "label": "Hide Product Action",
        "default": true
      }
  ],
  "presets": [
    {
      "name": "Products Slide Toro"
    }
  ]
}
{% endschema %}
